@{
    ViewData["Title"] = "Home Page";
}

<div>

    @{
        var userName = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.GivenName)?.Value;
    }

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @userName</h1>

        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }
    else
    {
        <section class="announcement">
            <h3>Welcome, guest</h3>
            <p>Sign in to log interactions with an AI chatbot</p>
            <p>If you wish, you can save answers by emailing them to yourself</p>
            <div>
                <a class="btn btn-sm btn-success cntr-h" asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a>
            </div>
        </section>
    }
</div>