@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">

    @{
        var userName = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.GivenName)?.Value;
    }

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @userName</h1>

        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }
    else
    {
        <h1>Welcome, guest</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
    }
</div>