@model Exp.Models.Response

@{
    ViewData["Title"] = "Create";
}

<h3>Write your prompt</h3>

<hr />
<div class="row mt-3">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group" hidden>
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" value="@User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Email)?.Value" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Prompt" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Prompt" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
